<div class="row">
  <div class="large-12 columns">
		<div id="welcome" class="hero-unit span7">
		  <h1>Code Coalition</h1>
		  <h3>Learn by building!</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
	    <ul class="pricing-table"> 
		    <li class="title">Free Content</li> 
		   	 <li class="price">Free!</li>
		     <li class="description">First 60 Videos</li> 
		     <li class="cta-button">
		     <%= link_to 'Subscribe', new_user_registration_path(:plan => 'free'), :class => 'button' %>
		     </li> 
	     </ul>
	    </div>
	    <div class="large-4 columns">
		    <ul class="pricing-table"> 
			    <li class="title">iOS Bootcamp</li> 
			   	 <li class="price">$125</li>
			     <li class="description">300+ Videos, learn to build 14 applications</li> 
			     <li class="cta-button">
			     <%= link_to 'Subscribe', new_user_registration_path(:plan => 'iosbc'), :class => 'button' %>
			     </li> 
		     </ul>
		    </div>
	  		<div class="large-4 columns">
	    	 <ul class="pricing-table"> 
			    <li class="title">Full Access</li> 
			   	 <li class="price">$49/Month</li>
			     <li class="description">Learn iOS, Game and Web Development</li> 
			     <li class="cta-button">
			     <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'button' %>
			     </li> 
		     </ul>
		    </div>
	  </div>
	</div>
</div>	