<div class="row">
  <div class="large-3 columns" style="padding-bottom:10px">
  <%= render 'layouts/iosbc_navrev' %>
  </div>

  <div class="large-9 columns">
		<%= render 'layouts/sec00_firstapp_nav' %>
		</br>
			<div id="mediaplayer"></div>
			            <script type="text/javascript">
			                jwplayer("mediaplayer").setup({
			                    file: "https://dpremmz485l7o.cloudfront.net/section00/button.mp4",
			                    image: "#",
			                    width: "100%",
			                    aspectratio: "16:9",
			                    fallback: 'false',
			                });
			            </script>
			            <%= render 'layouts/mediaplayer' %>

		<div class="row">
			<div class="small-8 large-6 columns">
        <h1>Buttons!</h1>
       </div>
       <div class="small-4 large-6 columns" style="padding-top:10px">
         <a class="button success radius right">Next Section!</a>
       </div>
          <hr>
          	<dl class="tabs" data-tab>
							  <dd class="active"><a href="#106-1">Notes</a></dd>
							  <dd><a href="#panel106-2">Discussion</a></dd>
							  <dd><a href="#panel106-3">Assets</a></dd>
							</dl>
							<div class="tabs-content" style="padding-bottom:70%">
							  <div class="content active" id="panel106-1">
							    <p>For reference, the code that was written to change the label's text is as follows:</p>
									<div class="panel">
										<p><code>- (void)buttonPressed</code></p>
										<p><code>{</code></p>
										<p><code>&nbsp; &nbsp; self.titleLabel.text = @"Hello Class!";</code></p>
										<p><code>}</code></p>
									</div>
									<p>You will learn what all of this means shortly! &nbsp;But for know, notice how the statement between the curly braces sounds somewhat similar to English. &nbsp;This is not by mistake, but instead a characteristic of Objective-C, the programming langugage in which most iPhone apps are written in.</p>
									<p>The dot notation signifies "ownership" and can be read as "self's titleLabel's text is equal to Hello Class." &nbsp;Right now, the word "self" sounds a little goofy but bear with me- it's another way of saying "My."</p>
									<p>&nbsp;</p>
							  </div>
							  <div class="content" id="panel106-2">
							    <p>Second panel content goes here...</p>
							  </div>
							  <div class="content" id="panel106-3">
							      <p>Using psychohistory, Seldon has discovered the declining nature of the Empire, angering the aristocratic members of the Committee of Public Safety, the de facto rulers of the Empire. The Committee considers Seldon&#39;s views and statements treasonous, and he is arrested along with young mathematician Gaal Dornick, who has arrived on Trantor to meet Seldon. Seldon is tried by the Committee and defends his beliefs, explaining his theories and predictions, including his belief that the Empire will collapse in 500
							      </p>
							  </div>
							 </div>
							
