<div class="row">
  <div class="large-3 columns" style="padding-bottom:10px">
  <%= render 'layouts/iosbc_navrev' %>
  </div>

  <div class="large-9 columns">
		<%= render 'layouts/sec00_firstapp_nav' %>
		</br>
			<div id="mediaplayer"></div>
			            <script type="text/javascript">
			                jwplayer("mediaplayer").setup({
			                    file: "https://dpremmz485l7o.cloudfront.net/section00/colors.mp4",
			                    image: "#",
			                    width: "100%",
			                    aspectratio: "16:9",
			                    fallback: 'false',
			                });
			            </script>
			           	<%= render 'layouts/mediaplayer' %>

		<div class="row">
			<div class="small-8 large-6 columns">
        <h1>Color!</h1>
       </div>
       <div class="small-4 large-6 columns" style="padding-top:10px">
         <a href="/iosbc_sec00/uitextfield" class="button success radius right">Next Section!</a>
       </div>
    </div>         
          	<dl class="tabs" data-tab>
							  <dd class="active"><a href="#panel107-1">Notes</a></dd>
							  <dd><a href="#panel107-2">Discussion</a></dd>
							  <dd><a href="#panel107-3">Assets</a></dd>
							</dl>
							<div class="tabs-content">
							  <div class="content active" id="panel107-1">
							    <p>Try playing around with the attributes inspector (the area on the right side of the screen). &nbsp;Click on your label, and see if you can change it's background to green and try making the font a bit bigger. &nbsp;</p>
							    <p>The best way to learn is to experiment- so go ahead!</p>
							  </div>
							  <div class="content" id="panel107-2">
							    <p>Second panel content goes here...</p>
							  </div>
							  <div class="content" id="panel107-3">
							      <p>Using psychohistory, Seldon has discovered the declining nature of the Empire, angering the aristocratic members of the Committee of Public Safety, the de facto rulers of the Empire. The Committee considers Seldon&#39;s views and statements treasonous, and he is arrested along with young mathematician Gaal Dornick, who has arrived on Trantor to meet Seldon. Seldon is tried by the Committee and defends his beliefs, explaining his theories and predictions, including his belief that the Empire will collapse in 500
							      </p>
							  </div>
							 </div>
							
