<div class="row">
  <div class="large-3 columns">
  <%= render 'layouts/iosbc_navrev' %>
  </div>


  <div class="large-9 columns">
  	 <div class="row">
      <div class="small-8 large-6 columns">
        <h1>iOS102 is Next!</h1>
       </div>
       <div class="small-4 large-6 columns" style="padding-top:10px">
         <a href="#" class="button success radius right">Next Section!</a>
       </div>
      </div>             
      	<div class="panel">
					  <p>We've got a lot of really exciting assignments ahead! We just took you through a short introduction of the Apple XCode enviroment. Up next we will start to teach you more about the different nunaces iOS Development through a series of building block assigments and challenges. You will how to code iOS App by building applications. A lot of exciting things await! Happy Coding! :) </p>
            <h3>Twitter</h3>
							<p>Stay up to day by following us Twitter <a class="twitter-follow-button" href="https://twitter.com/codecoalition" data-show-count="false">Follow @codecoalition</a>. See how other students are doing or tweet your progress with #learningiOS <a class="twitter-hashtag-button" href="https://twitter.com/intent/tweet?button_hashtag=learningiOS&amp;text=Just%20finished%20iOS101%2C%20starting%20iOS102!" data-related="codecoalition" data-url="http://t.co/iKfVMvpdDE">Tweet #learningiOS</a> and let us know how the class is going for you.</p>
							<p>Here's what some of your classmates are saying:</p>
							<center><p><a class="twitter-timeline" href="https://twitter.com/search?q=%23learningios" data-widget-id="394658878593314816">Tweets about "#learningios"</a></p>
							<script type="text/javascript">// <![CDATA[
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
							// ]]></script></center>
					  </div>
					  </div>
					</div>
				</div>
			</div>

</div>