<div class="row">
  <div class="large-3 columns" style="padding-bottom:10px">
  <%= render 'layouts/iosbc_navrev' %>
  </div>

  <div class="large-9 columns">
		<%= render 'layouts/sec00_firstapp_nav' %>
		</br>
			<div id="mediaplayer">
			<script type="text/javascript">
			    jwplayer("mediaplayer").setup({
			        file: "https://dpremmz485l7o.cloudfront.net/section00/labeluse.mp4",
			        image: "#",
			        width: "100%",
			        aspectratio: "16:9",
			        fallback: 'false',
			    });
			</script>
			<%= render 'layouts/mediaplayer' %>
		</div>
		<div class="row">
			<div class="small-8 large-6 columns">
        <h1>Label Use</h1>
       </div>
       <div class="small-4 large-6 columns" style="padding-top:10px">
         <a href="/iosbc_sec00/buttons" class="button success radius right">Next Section!</a>
       </div>
    </div>
          	<dl class="tabs" data-tab>
							  <dd class="active"><a href="#panel105-1">Notes</a></dd>
							  <dd><a href="#panel105-2">Discussion</a></dd>
							  <dd><a href="#panel105-3">Assets</a></dd>
							</dl>
							<div class="tabs-content">
							  <div class="content active" id="panel105-1">
							    <p><strong> The left side panel in XCode is known as the Navigator. </strong></p>
									<p>This is where all the files included in your project are located. You can search for things, analyze errors, and add break points among a host of other things. When you click on a file, its contents will be shown in the center screen. To view two files at once, simply hold down the "option" key and click a file.</p>
									<p><strong>The right side panel is known as the Inspector. </strong></p>
									<p>In the inspector, you can add UI (user interface) elements to your application. Furthermore, you can change the size and physical properties of those elements here.</p>
									<p><strong>The bottom panel is referred to as the debug console or debugger. </strong></p>
									<p>When you recieve errors (and you will!), this is where they show up.</p>
									<p>And as shown in the video, all of these views can be toggled with the three buttons on the top right of XCode.</p>
									<p>We will be using each of these areas extensively throughout the course, so you will have plenty of time to get comfortable with them!</p>
							  </div>
							  <div class="content" id="panel105-2">
							    <p>Second panel content goes here...</p>
							  </div>
							  <div class="content" id="panel105-3">
							      <p>Using psychohistory, Seldon has discovered the declining nature of the Empire, angering the aristocratic members of the Committee of Public Safety, the de facto rulers of the Empire. The Committee considers Seldon&#39;s views and statements treasonous, and he is arrested along with young mathematician Gaal Dornick, who has arrived on Trantor to meet Seldon. Seldon is tried by the Committee and defends his beliefs, explaining his theories and predictions, including his belief that the Empire will collapse in 500
							      </p>
							  </div>
							  </div>
							</div>
						</div>
					</div>

</div>