<div class="row">
  <div class="large-3 columns" style="padding-bottom:10px">
  <%= render 'layouts/iosbc_navrev' %>
  </div>

  <div class="large-9 columns">
		<%= render 'layouts/sec00_firstapp_nav' %>
		</br>
			<div id="mediaplayer"></div>
			            <script type="text/javascript">
			                jwplayer("mediaplayer").setup({
			                    file: "https://dpremmz485l7o.cloudfront.net/section00/settingupxcode.mp4",
			                    image: "#",
			                    width: "100%",
			                    aspectratio: "16:9",
			                    fallback: 'false',
			                });
			            </script>
			           	<%= render 'layouts/mediaplayer' %>
		<div class="row">
			<div class="small-8 large-6 columns">
        <h1>XCode Setup</h1>
       </div>
       <div class="small-4 large-6 columns" style="padding-top:10px">
         <a class="button success radius right">Next Section!</a>
       </div>          <hr>
          	<dl class="tabs" data-tab>
							  <dd class="active"><a href="#105-1">Notes</a></dd>
							  <dd><a href="#panel105-2">Discussion</a></dd>
							  <dd><a href="#panel105-3">Assets</a></dd>
							</dl>
							<div class="tabs-content" style="padding-bottom:70%">
							  <div class="content active" id="panel105-1">
							    <p>	1) Open Xcode through dock or through spotlight search.</p>
							    <p>	2) Click: Create a new Xcode Project.</p>
							    <p>	3) Select Single View Application in the iOS App pane. Other options are Master-Detail, OpenGL, Page-Based, Tabbed, Utility, and an empty application that provides no boiler-plate code. Single view application allows us to have a project will all the necessary code already written that connects one plain view upon opening the app.</p>
							    <p>4) Fill out project data as shown in video. Be sure to select iPhone for device and check storyboards and automatic reference counting. We’ll go over what these mean in depth, but for now let’s start our project with them selected.</p>
							  </div>
							  <div class="content" id="panel105-2">
							    <p>Second panel content goes here...</p>
							  </div>
							  <div class="content" id="panel105-3">
							      <p>Using psychohistory, Seldon has discovered the declining nature of the Empire, angering the aristocratic members of the Committee of Public Safety, the de facto rulers of the Empire. The Committee considers Seldon&#39;s views and statements treasonous, and he is arrested along with young mathematician Gaal Dornick, who has arrived on Trantor to meet Seldon. Seldon is tried by the Committee and defends his beliefs, explaining his theories and predictions, including his belief that the Empire will collapse in 500
							      </p>
							  </div>
							 </div>
							
