<div class="row">
  <div class="large-3 columns">
  <%= render 'layouts/iosbc_nav' %>
  </div>


  <div class="large-9 columns">
		<%= render 'layouts/sec00_firstapp_nav' %>
      
          <h1>IosbcSec00#tour</h1>
          <hr>
          	<dl class="tabs" data-tab>
							  <dd class="active"><a href="#panel100-1">Notes</a></dd>
							  <dd><a href="#panel100-2">Discussion</a></dd>
							  <dd><a href="#panel100-3">Assets</a></dd>
							</dl>
							<div class="tabs-content">
							  <div class="content active" id="panel100-1">
							    <p>First panel content goes here...</p>
							  </div>
							  <div class="content" id="panel100-2">
							    <p>Second panel content goes here...</p>
							  </div>
							  <div class="content" id="panel100-3">
							      <p>Using psychohistory, Seldon has discovered the declining nature of the Empire, angering the aristocratic members of the Committee of Public Safety, the de facto rulers of the Empire. The Committee considers Seldon&#39;s views and statements treasonous, and he is arrested along with young mathematician Gaal Dornick, who has arrived on Trantor to meet Seldon. Seldon is tried by the Committee and defends his beliefs, explaining his theories and predictions, including his belief that the Empire will collapse in 500
							      </p>
							  </div>
							  </div>
							</div>
						</div>
					</div>

</div>