<div class="row">
  <div class="large-3 columns">
  <%= render 'layouts/iosbc_nav' %>
  </div>

  <div class="large-9 columns">
  <div class="progress [small-# large-#] [secondary alert success]"> <span class="meter" style="width: [1 - 100]%"></span></div>
  	<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 0</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li> 
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 1</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 2</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li> 
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 3</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 4</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 5</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li> 
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 6</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table">
		    <li class="title"><p class="text-left">Section 7</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 8</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 9</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li> 
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 10</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 11</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 12</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li> 
		</ul>
		<ul class="pricing-table"> 
		    <li class="title"><p class="text-left">Section 13</p></li> 
		    <li class="description"><p class="text-left">Lorem ipsum dolor sit amet, nec quem blandit et, sea inani exerci id. Te mel verear graecis reprimique. Te viderer oblique nec, ea iisque luptatum definiebas pro. Ut eum nullam referrentur, at eos quodsi euismod sensibus. Te his erroribus accusamus. Dolor possim complectitur est in, disputationi reprehendunt ea mel.

				Iusto assentior sed no. Nam no eius quidam propriae, ad etiam volumus voluptua eum. Ne ignota postea constituam has. Ea causae consequat duo. No audiam viderer vix. Duo ut posse summo persequeris. Vel an verterem maluisset adipiscing.</p></li>
		</ul>
	</div>


</div>