<link rel="stylesheet" type="text/css" href="flexy-menu.css">

<script type="text/javascript" src="flexy-menu.js"></script>

	<script>
				$(document).ready(function(){
					$(".flexy-menu").flexymenu({
						speed: 400,
						type: "vertical",
						align: "left",
						indicator: true
					});
				});

			</script>

	<ul class="flexy-menu vertical">
		<li class="showhide" style="display: none;">
			<span class="title">iOS Bootcamp</span>
				<span class="icon">
					<em></em>
					<em></em>
					<em></em>
					<em></em>
				</span>
			</li>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 0
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Tour</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">XCode Download</a>
			</li>
			<li>
				<a href="/intro">Your First App!</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">iOS102 is Next!</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 1
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 2
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 3
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 4
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
		<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 5
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 6
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 7
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 8
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 9
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 10
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 11
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 12
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				<i class="icon-th"></i>
				Section 13
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Dropdown item</a>
		</ul>
		<span class="indicator">+</span>