<link rel="stylesheet" type="text/css" href="flexy-menu.css">

<script type="text/javascript" src="flexy-menu.js"></script>

	<script>
				$(document).ready(function(){
					$(".flexy-menu").flexymenu({
						speed: 400,
						type: "vertical",
						align: "left",
						indicator: true
					});
				});

			</script>

	<ul class="flexy-menu vertical">
		<li class="showhide" style="display: none;">
			<span class="title">iOS Bootcamp</span>
				<span class="icon">
					<em></em>
					<em></em>
					<em></em>
					<em></em>
				</span>
			</li>
	<li style="display: block;">
			<a href="JavaScript:void(0)">
				Section 0
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Tour</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">XCode Download</a>
			</li>
			<li>
				<a href="/iosbc_sec00/intro">Your First App!</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">iOS102 is Next!</a>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 1
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Hello!</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Variables</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Age of Laika</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">If Statements</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">For Loops</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">99 Sodas</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Object Oriented Programming</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Properties</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Methods</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Recap</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 2
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Methods</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">More Classes</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">EC: Animations</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Debug Dog Issue</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Inheritance</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Objects Cont'd</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Prereq: Pirate Adventure</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Pirate Assignment</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Pirate Solution P1</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Pirate Solution P2</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Recap</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 3
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Pirate Adventure P3</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Pirate Adventure P4</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Pirate Adventure P5</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Terminal & Git</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to MVC</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to UITableView</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UITableView Cont'd</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">3rd Party Library</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Recap</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 4
			</a>
			<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">UITableViewController</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Models and Space Objects</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">User Data Model</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Transitions</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to UIScrollView</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UIScrollView</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to Passing Data</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Displaying Space Data</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UITableView</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Recap</a>
			</li>
		</ul>
		<span class="indicator">+</span>
		<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 5
			</a>
			<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Intro to Protocols & Delegation</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Our own Protocols</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Finalizing Protocols</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Protocols & Delegation</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to Persistence</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Data Persistence</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">NSUserDefaults</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Recap</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 6
			</a>
			<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Prereq: Overdue Tasklist</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue Tasklist Assignment</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P1</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P2</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P3</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P4</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P5</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P6</a>
			</li>
						<li>
				<a href="JavaScript:void(0)">Overdue P7</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P8</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P9</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P10</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P11</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Overdue P12</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 7
			</a>
			<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">More Views</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Creating Views Programatically</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Custom Views</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Autolayout</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Even More Views</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to UIBezierPath</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UIBezierPath</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Another UIBezierPath</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Mountain Path</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Gestures</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 8
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Scoring</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Memory Management</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Custom Views</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">New Project</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Intro to CoreData</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UIAlertView</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">CoreData</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Models & CoreData</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UICollection</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">UIImagePicker</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 9
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">A Photo Model</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Saving a Photo</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Photo Integration</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Deleting a Photo</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Image Filter Prep</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Image Filters</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Multithreading</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Models & CoreData</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Blocks and GCD</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 10
			</a>
				<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Parse Prep</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Testing Parse</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">PFObjects</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">MatchedUp</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Login Functionality</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">API Response</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 11
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">MatchedUp</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">ViewControllers</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Managing Actions</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">User Profile</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 12
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Storyboard Setup</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Chat Prep</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">MatchViewController</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Implement Chats</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Refresh Chats</a>
			</li>
		</ul>
		<span class="indicator">+</span>
	<li style="display: block;">
			<a href="JavaScript:void(0)">				
				Section 13
			</a>
		<ul style="display: none;">
			<li>
				<a href="JavaScript:void(0)">Settings</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Constants</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Assets</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Transition</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">Mixpanel</a>
			</li>
			<li>
				<a href="JavaScript:void(0)">You did it!</a>
			</li>
		</ul>
		<span class="indicator">+</span>