<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel0">Section 0</a>
    <div id="panel0" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel0-1">Tab 1</a></dd>
        <dd><a href="#panel0-2">Tab 2</a></dd>
        <dd><a href="#panel0-3">Tab 3</a></dd>
        <dd><a href="#panel0-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel1">Section 1</a>
    <div id="panel1" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel1-1">Tab 1</a></dd>
        <dd><a href="#panel1-2">Tab 2</a></dd>
        <dd><a href="#panel1-3">Tab 3</a></dd>
        <dd><a href="#panel1-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel2">Section 2</a>
    <div id="panel2" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Tab 1</a></dd>
        <dd><a href="#panel2-2">Tab 2</a></dd>
        <dd><a href="#panel2-3">Tab 3</a></dd>
        <dd><a href="#panel2-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel3">Section 3</a>
    <div id="panel3" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel3-1">Tab 1</a></dd>
        <dd><a href="#panel3-2">Tab 2</a></dd>
        <dd><a href="#panel3-3">Tab 3</a></dd>
        <dd><a href="#panel3-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel4">Section 4</a>
    <div id="panel4" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel4-1">Tab 1</a></dd>
        <dd><a href="#panel4-2">Tab 2</a></dd>
        <dd><a href="#panel4-3">Tab 3</a></dd>
        <dd><a href="#panel4-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel5">Section 5</a>
    <div id="panel5" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel5-1">Tab 1</a></dd>
        <dd><a href="#panel5-2">Tab 2</a></dd>
        <dd><a href="#panel5-3">Tab 3</a></dd>
        <dd><a href="#panel5-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel6">Section 6</a>
    <div id="panel6" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel6-1">Tab 1</a></dd>
        <dd><a href="#panel6-2">Tab 2</a></dd>
        <dd><a href="#panel6-3">Tab 3</a></dd>
        <dd><a href="#panel6-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel7">Section 7</a>
    <div id="panel7" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel7-1">Tab 1</a></dd>
        <dd><a href="#panel7-2">Tab 2</a></dd>
        <dd><a href="#panel7-3">Tab 3</a></dd>
        <dd><a href="#panel7-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel8">Section 8</a>
    <div id="panel8" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel8-1">Tab 1</a></dd>
        <dd><a href="#panel8-2">Tab 2</a></dd>
        <dd><a href="#panel8-3">Tab 3</a></dd>
        <dd><a href="#panel8-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel9">Section 9</a>
    <div id="panel9" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel9-1">Tab 1</a></dd>
        <dd><a href="#panel9-2">Tab 2</a></dd>
        <dd><a href="#panel9-3">Tab 3</a></dd>
        <dd><a href="#panel9-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel10">Section 10</a>
    <div id="panel10" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel10-1">Tab 1</a></dd>
        <dd><a href="#panel10-2">Tab 2</a></dd>
        <dd><a href="#panel10-3">Tab 3</a></dd>
        <dd><a href="#panel10-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel11">Section 11</a>
    <div id="panel11" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel11-1">Tab 1</a></dd>
        <dd><a href="#panel11-2">Tab 2</a></dd>
        <dd><a href="#panel11-3">Tab 3</a></dd>
        <dd><a href="#panel11-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel12">Section 12</a>
    <div id="panel12" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel12-1">Tab 1</a></dd>
        <dd><a href="#panel12-2">Tab 2</a></dd>
        <dd><a href="#panel12-3">Tab 3</a></dd>
        <dd><a href="#panel12-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
  <dd>
    <a href="#panel13">Section 13</a>
    <div id="panel13" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel13-1">Tab 1</a></dd>
        <dd><a href="#panel13-2">Tab 2</a></dd>
        <dd><a href="#panel13-3">Tab 3</a></dd>
        <dd><a href="#panel13-4">Tab 4</a></dd>
      </dl>
    </div>
  </dd>
</dl>