<center>
<dl class="sub-nav">
  <dd><a href="#">Introduction</a></dd>
  <dd><a href="#">Open XCode</a></dd>
  <dd><a href="#">Label Use</a></dd>
  <dd><a href="#">Buttons!</a></dd>
  <dd><a href="#">Colors!</a></dd>
  <dd><a href="#">UITEXTFIELD</a></dd>
  <dd><a href="#">UICONTROLLERS</a></dd>
</dl>
</center>